*{
    padding: 0;
    margin:0;
}


html{
    font-family: cursive;


}


body{
    background-image: url("./Images/20230214_171837.jpg");
    background-size: cover;
    background-position: top ; /*woah, just learned that the background image for the page adapts to different screen sizes in different ways*/
    background-repeat: no-repeat;
}

main{
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     gap: 5rem;
    

}


.main-content{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    gap: 1.5rem;
   padding-inline-start: 0.5rem;
    
  
}

header{
    padding: 20px 10px;
   
    
}

header h1{
    color:white;
    text-align: left;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 600;
  
  
}


header h1 strong{
    font-size: 2.5rem;
    font-weight: 900;
    text-decoration: solid;
}




.descriptions{
    color:white;
    
  }

  .descriptions h1  {
    font-size: 2rem
  }

  .descriptions h2{
 font-weight: 600;
 font-size: 38px;
  }

  .descriptions p{
    font-size: 1.5rem;
  }

  #talk{
    display: flex;
    flex-direction: column;

  }

  #talk .links{
    display: flex;
    gap: 1rem;
  }

  .links a{
    margin-block: 20px;
    padding: 20px 12px;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    border: 3px solid white;
  }

  
.links a:is(:hover,:focus-within){
    transform: scale(1.05);
    
}


  #talk p{
    margin-top: 20px;
    width: 80%;
}



.socials{
    display: flex;
     justify-content: center;

    gap: 1.5rem;
}






.socials a {
   
    padding: 10px 0px;
    width: fit-content ;
    font-size: 3rem;   
    transition: all 0.3s;
    color: white;
    
}

.socials a :is(:hover,:focus-within){
    transform: scale(1.4);
    
}


@media screen and (min-width:400px){
    
  #talk p{
    margin-top: 20px;
    width: 90%;
}
}
  
@media screen and (min-width:768px) {


    main{
        gap: 10rem;
    }
    
.main-content{
    flex-direction: row;
    padding-inline:2rem ;
    
      
  
}


header h1{
    font-size: 2.5rem;
}

header h1 strong{
    font-size: 4rem;
}


.socials{
    flex-direction: column;
}
}